/deep/ {
  ul {
    list-style-type: disc;
    padding-inline-start: 40px;
  }
  ul ul {
    list-style-type: circle;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  ul ul ul {
    list-style-type: square;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }
  html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #333;
    background-color: #fbfbfb;
    height: 100%;
    overflow: auto;
  }
  code {
    display: inline-block;
    background-color: lightgray;
  }
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  code.hljs {
    padding: 3px 5px;
  }

  .hljs {
    background: #2b2b2b;
    color: #f8f8f2;
  }
  .hljs-comment,.hljs-quote {
    color: #d4d0ab;
  }
  .hljs-deletion,.hljs-name,.hljs-regexp,.hljs-selector-class,.hljs-selector-id,.hljs-tag,.hljs-template-variable,.hljs-variable {
    color: #ffa07a;
  }
  .hljs-built_in,.hljs-link,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-type {
    color: #f5ab35;
  }
  .hljs-attribute {
    color: gold;
  }
  .hljs-addition,.hljs-bullet,.hljs-string,.hljs-symbol {
    color: #abe338;
  }
  .hljs-section,.hljs-title {
    color: #00e0e0;
  }
  .hljs-keyword,.hljs-selector-tag {
    color: #dcc6e0;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: 700;
  }
  @media screen and (-ms-high-contrast:active) {
    .hljs-addition,.hljs-attribute,.hljs-built_in,.hljs-bullet,.hljs-comment,
    .hljs-link,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-quote,
    .hljs-string,.hljs-symbol,.hljs-type {
      color: highlight;
    }
    .hljs-keyword,.hljs-selector-tag {
      font-weight: 700;
    }
  }
}
